.http-error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 56px);
}

.error-container {
    text-align: center;
}

.error-code {
    font-size: 100px;
    color: var(--col-expired-accent);
    margin-bottom: 20px;
    font-weight: 800;
}

.error-message {
    font-size: 24px;
    color: var(--text-muted);
}
